[rerere]
	enabled = true
	autoupdate = true
[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	fixup = cz --amend --no-edit
[rebase]
	autosquash = true
[user]
	email = vherr2@illinois.edu
	name = Vincent Herr
