[rerere]
	enabled = true
	autoupdate = true
[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	fixup = "!git log -n 10 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
[rebase]
	autosquash = true
[user]
	email = vherr2@illinois.edu
	name = Vincent Herr
